* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-black: #272a31;
  --color-medium-blue: #4682b4;
  --color-light-blue: #b6d0e2;
  --color-dark-blue: #191970;
  --color-lightest-blue: #f0ffff;
  --color-hover-blue: #6495ed;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  color: var(--color-black);
}

/* -------------------------------Styling the Navigation Bar-------------------------------- */
header {
  border-radius: 4px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--color-lightest-blue);
  padding: 1% 2%;
  font-weight: 600;
}

nav a {
  color: var(--color-dark-blue);
}

.logo {
  font-size: 22px;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}

.totalMeals {
  color: var(--color-medium-blue);
  margin-left: 5%;
}

input,
textarea {
  border: 1px solid var(--color-light-blue);
  padding: 1.5%;
  width: 60%;
  border-radius: 8px;
  outline: none;
}

nav input {
  padding: 3%;
  width: 200px;
}

nav button {
  padding: 8px 20px;
  color: var(--color-white);
  background-color: var(--color-medium-blue);
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  font-weight: 600;
}

nav button:hover {
  background-color: var(--color-hover-blue);
}

/* -------------------------------Styling the Home Page-------------------------------- */
main {
  padding: 60px 0;
}

.mealsListContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding: 2%;
}

.mealCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: var(--color-lightest-blue);
  border: 1px solid var(--color-light-blue);
  padding: 2%;
  border-radius: 8px;
}

.mealCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.mealDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mealHeading {
  font-size: 16px;
}

.likeBtn {
  color: red;
  font-size: 16px;
}

.likesNumber {
  font-size: 16px;
  font-weight: 500;
}

.commentBtn {
  padding: 2% 3%;
  align-self: center;
  color: var(--color-white);
  font-weight: 600;
  background-color: var(--color-medium-blue);
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.commentBtn:hover {
  background-color: var(--color-hover-blue);
  color: var(--color-white);
}

/* -------------------------------Styling the Popup Window-------------------------------- */
.hide {
  display: none;
}

.overlay {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-lightest-blue);
  border: 1px solid var(--color-light-blue);
  border-radius: 8px;
  margin: 2% 10%;
  padding: 2%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

.popupCard {
  width: 98%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 2%;
  overflow: auto;
}

.popupCardImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px;
}

.mealTitle {
  align-self: center;
}

.commentsHeading {
  align-self: flex-start;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  background-color: var(--color-white);
}

input:focus {
  outline-style: none;
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: #555 !important;
  font-size: inherit !important;
  font-family: inherit !important;
  line-height: inherit !important;
}

.submitCommentBtn {
  padding: 2% 3%;
  align-self: flex-start;
  color: var(--color-white);
  font-weight: 600;
  background-color: var(--color-medium-blue);
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.submitCommentBtn:hover {
  background-color: var(--color-hover-blue);
}

/* -------------------------------Styling the Comments Section-------------------------------- */
.color {
  color: red;
}

/* -------------------------------Styling the Comments Section-------------------------------- */
.commentsCount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.commentitem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

/* -------------------------------Styling the Search Cards-------------------------------- */

.searchedMealContainer {
  margin: 2% 10%;
  border: 1px solid var(--color-medium-blue);
  display: flex;
  justify-content: space-between;
  padding: 1%;
  border-radius: 8px;
}

.searchedMealCard {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  box-sizing: border-box;
}

.searchedImage {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  align-self: center;
  margin-bottom: 16px;
}

.searchedMealTitle {
  font-size: 26px;
  margin-bottom: 6px;
}

.searchedMealInstructionHeading {
  font-size: 20px;
  margin-bottom: 8px;
}

.seaarchedMealInstructions {
  font-weight: 500;
}

.closeButton {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

/* -------------------------------Styling the Footer-------------------------------- */
footer {
  width: 100%;
  background-color: var(--color-lightest-blue);
  border: 1px solid var(--color-medium-blue);
  position: fixed;
  bottom: 0;
  border-radius: 4px;
}

footer p {
  margin-left: 2%;
  font-weight: 500;
}

footer a {
  text-decoration: underline;
  color: blue;
}

footer a:hover {
  color: var(--color-dark-blue);
}

.githubLink {
  margin-left: 25%;
}

.linkedInkLink {
  margin-left: 20%;
}
